{% extends "layout.html" %}
{% block title %}
    Double-Check
{% endblock %}
{% block main %}


<div class="form-group">
<form action="/create" method="post">
{% for i in range (0,len) %}
    <ul><input type = "checkbox" name = "articles" value = "{{chosen_art[i]}}" checked> {{chosen_art[i]}}
    {% for sec in chosen_sec %}
        {% if chosen_art[i] in sec %}

            <li><input type = "checkbox" name = "sections" value = "{{sec}}" checked>{{sec}}</li>

        {% endif %}
    {% endfor %}
    {% for link in chosen_links %}
        {% if chosen_art[i] in link %}

            <li><input type = "checkbox" name = "links" value = "{{link}}" checked>{{link}}</li>

        {% endif %}
    {% endfor %}


    </ul>
{% endfor %}
</div>
        <button class="btn btn-primary" type="submit">Create Ebook!</button>
</form>




{% endblock %}