{% extends "layout.html" %}
{% block title %}
    Extract Subsections and Links
{% endblock %}
{% block main %}
<div>
    <div>

            {% for art in chosen_art %}
            <ul>{{art}}

    </div>

    <div>
        <form action="/extractmore" method="post">
                <div class="form-group">
                {% for link in links %}
                    <li>
                    <input type = "checkbox" name = "sel_link" value = "{{art}}:{{link}}"> {{link}}
                    </li>
                {% endfor %}
                </div>
            </ul>
                {% endfor %}
    </div>
</div>

        <button class="btn btn-primary" type="submit">Double-check</button>
        </form>

{% endblock %}