{% extends "layout.html" %}
{% block title %}
    Extract Info
{% endblock %}
{% block main %}
<form action="/extractsections" method="post">

        <div>
            {% for art in chosen_art %}
            <ul>{{art}}
            <form action="/extractsections" method="post">
                <div class="form-group">
                <li><input type = "checkbox" name = "sel_section" value = "summary">Summary</li>
                {% for section in sections %}
                    <li>
                    <input type = "checkbox" name = "sel_section" value = "{{section.title}}"> {{section.title}}
                    </li>
                {% endfor %}
                </div>
            </ul>
                {% endfor %}

        </div>

        <button class="btn btn-primary" type="submit">Extract Subsections and Links</button>

        <!-- go to next page if this link is clicked -->


            </form>

{% endblock %}