{% extends "layout.html" %}
{% block title %}
    Extract Links
{% endblock %}
{% block main %}
<div>
    <div>

            {% for i in range(0,len) %}
            <ul>{{chosen_art[i]}}

    </div>

    <div>
        <form action="/extractsections" method="post">
                <div class="form-group">
                {% for item in links[i] %}
                    <li><input type = "checkbox" name = "art title" value = "{{item}}">{{item}}</li>
                {% endfor %}
                </div>
            </ul>
                {% endfor %}
    </div>
</div>

        <button class="btn btn-primary" type="submit">Extract Sections From Links</button>
        </form>

{% endblock %}