{% extends "layout.html" %}
{% block title %}
    Extract Sections
{% endblock %}
{% block main %}
<div>
    <div>

            {% for i in range(0,len) %}
            <ul>{{chosen_art[i]}}

    </div>

    <div>
        <form action="/extractlinks" method="post">
                <div class="form-group">
                {% for item in sections[i] %}
                    <li><input type = "checkbox" name = "sel_section" value = "{{chosen_art[i]}}:{{item}}">{{item}}</li>
                {% endfor %}
                 <li><input type = "checkbox" name = "{{chosen_art[i]}}:other_links" value = "yes">All links to other pages</li>
                </div>
            </ul>
                {% endfor %}
    </div>
</div>

        <button class="btn btn-primary" type="submit">Submit</button>
        </form>

{% endblock %}