{% extends "layout.html" %}
{% block title %}
    Wikipedia Search
{% endblock %}
{% block main %}
<h2> Complete all your Wikipedia Searches before selecting which articles you would like to extract info from!</h2>
    <form action="/" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="Wikipedia Search" placeholder="Wikipedia Search" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Search</button>
    </form>

    <form action="/extractsections" method="post">

        <div class="form-group">
            {% for art in list_art %}
            <li><input type = "checkbox" name = "art title" value = "{{art}}"> {{art}}</li>
            {% endfor %}
        </div>

        <button class="btn btn-primary" type="submit">Extract Sections From Articles</button>


    </form>








{% endblock %}